@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: poppins;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-shadow: 3px 3px pink; 
    color:rgb(255, 0, 140);
}
.btn{
    height: 6.5rem;
    width:6.5rem;
    margin:0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 0.4rem;
    border : 2px solid rgb(156, 156, 255);
    cursor: pointer;
    font-size: 1.6rem;
}
.container{
    margin-top: 1.5rem;
    background-color: aliceblue;
    width: 23rem;
    align-self: center;
    border: 2px solid rgb(192, 192, 204);
    border-radius: 1rem;
    padding: 0.3rem 0 0.3rem 0.3rem;
    display:flex;
    flex-wrap: wrap;
}
.players{
    display: flex;
    justify-content: center;
}
.player{
   padding: 1.1rem 1.5rem;
   border-radius: 0.5rem;
   font-weight: 700;
   font-size: 1.5rem;
}
.coverb{
    margin: 2rem 9rem;
    height: 4rem;
    width:5rem;
}
.player1{
    box-sizing: border-box;
   background-color: rgb(255, 224, 229);
   color:rgb(255, 0, 43); 
}
.animate1{
    animation: pulsate1 0.5s infinite alternate;
}
.player2{
    box-sizing: border-box;
    background-color: rgb(219, 191, 255);
    color:rgb(79, 28, 196);
}
.animate2{
    animation: pulsate2 0.5s infinite alternate;
}

@keyframes pulsate1 {
  100% {
    /* Larger blur radius */
    border: 3px solid red;
  }
 0% {
    /* A slightly smaller blur radius */
    border: 0px solid red;
     
  }
}

@keyframes pulsate2 {
  100% {
    /* Larger blur radius */
    border: 3px solid rgb(165, 0, 165);
  }
 0% {
    /* A slightly smaller blur radius */
    border: 0px solid violet;
     
  }
}

.disable{
    background-color:rgb(219, 219, 219);
}
.grid{
    padding-top: 1rem;
    font-size: 3rem;
}
.red{
    background-color: rgb(255, 236, 239);
    color:rgb(255, 0, 43);
    border: 2px solid rgb(255, 218, 218);
}
.blue{
    background-color: rgb(238, 225, 255);
    color:rgb(79, 28, 196);
    border: 2px solid rgb(213, 213, 253);
}
.results{
    display:flex;
    justify-content: center;
}
.result-box{
    margin: 0 3rem 1rem 3rem;
}
.playerID{
    font-size: 1.2rem;
    color:blue;
    font-weight: 600;
}
.p1-score,.p2-score{
  font-size: 1.2rem;

}
.msgtxt{
  background-color: rgb(253, 225, 171);
  padding: 0.3rem 7rem;
  border-radius: 0.5rem;
  border:1px solid orange;
  color:rgb(110, 72, 0);
}

.green{
  background-color: rgb(201, 255, 196);
  color:rgb(0, 158, 0); 
  border:1px solid rgb(0, 163, 0);
  font-weight: 600;
}
.violet{
  background-color: rgb(217, 196, 255);
  color:rgb(72, 0, 105); 
  border:1px solid rgb(72, 0, 105);
  font-weight: 600;
}
.red{
  background-color: rgb(255, 204, 213);
  color:red; 
  border:1px solid red;
  font-weight: 600;
}
.none{
    display:none;
}
.replay{
    padding: 0.7rem 3rem;
    border: none;
    color:rgb(255, 85, 23);
    background-color: rgb(255, 233, 192);
    font-weight: 600;
    border-radius: 0.3rem;
    margin-top: 2rem;
    cursor:pointer;
    margin-bottom: 3rem;
}
.replay:active{
   background-color: rgb(255, 217, 146); 
}
@media (min-width:800px) {
  .links{
  margin: 1rem 0;
  display: flex;
  justify-content:space-evenly;
}
h2{
    font-size: 1.3rem;
    color: rgb(255, 0, 119);
    text-shadow: 1.5px  1.5px rgb(255, 173, 211);
}
}
@media (max-width:800px) {
  .msgtxt{
  background-color: rgb(253, 225, 171);
  padding: 0.3rem 2rem;
  border:1px solid orange;
  color:rgb(110, 72, 0);
}
.coverb{
    margin: 2rem 3rem;
    height: 4rem;
    width:5rem;
}
.head{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top:1.5rem;
}
.btn{
    height: 6rem;
    width:5.8rem;
    margin:0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 0.4rem;
    border : 2px solid rgb(156, 156, 255);
    cursor: pointer;
    font-size: 1.6rem;
}
.container{
    margin-top: 3rem;
    background-color: aliceblue;
    width: 21rem;
    align-self: center;
    border: 2px solid rgb(192, 192, 204);
    border-radius: 1rem;
    padding: 0.3rem 0 0.3rem 0.3rem;
    display:flex;
    flex-wrap: wrap;
}
.grid{
    padding-top: 0.8rem;
    font-size: 3rem;
}
.links{
  display: flex;
  justify-content:space-evenly;
}
h2{
    font-size: 1.3rem;
    color: rgb(255, 0, 119);
    text-shadow: 1.5px  1.5px rgb(255, 173, 211);
}
}
